.bannerGamaMedia{

    width: 100%;
    height: auto;
}
/*     background-image: url(../../img/Products/Banner/GamaMedia.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
 */



.gamaMediabk-img {
    width: 100%;
    height: 35vh;
}

.gamaMedia {
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width: 1055px) {
    .gamaMedia {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
}

