#banner__principal {
    margin-top: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.banner__principal-frase {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45vh;
    
}

@media (min-width: 920px) {
    .banner__principal-frase{
        margin-top: -5rem;
    }
}

.banner__principal-frase h1 {
    font-family: var(--funeteParrafo);
    margin-top: 8rem;
    font-size: 3rem;
    color: #56585A;
}

@media (max-width: 500px) {
    .banner__principal-frase h1 {
        margin-top: 2rem;
    }
}


.banner__principal-frase h1 span {
    color: var(--primario);
}

.parrafo-principal-web{
    text-transform: uppercase;
}

@media (max-width: 1026px) {
    .parrafo-principal-web {
        display: none;
    }
}

.banner__principal-testimonios {
    display: grid;
    grid-template-columns: 25% 75%;
    justify-content: center;
    align-items: center;
    height: 45vh;
}

@media (min-width: 768px) {
    .banner__principal-testimonios {
        height: 40vh;
    }
}


@media (min-width: 1080px) {
    .banner__principal-testimonios {
        height: 50vh;
    }

    .banner__principal-frase {
        height: 50vh;
    }
}

.banner__principal-img-testimonios {
    height: 100%;
    /* background-image: url(../img/def/OpinionTra.webp); */
    background-image: url(../img/def/MujervCliente.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
}

/* 
.banner__principal-testimonios img{
    height: 35vh;
}
*/

.testimonial-text p {
    margin: 8px;
}

@media (max-width: 768px) {
    #banner__principal {
        display: flex;
        flex-direction: column;
    }

    .banner__principal-frase {
        height: 25vh;
    }
}

@media (max-width: 536px) {
    .banner__principal-testimonios {
        display: block;
        width: 100%;
        height: 35vh;
    }

    .banner__principal-frase{
        height: 12rem;
    }

    .banner__principal-img-testimonios {
        display: none;
    }
}

@media (min-width: 1027px) {
    .parrafo-principal-app {
        display: none;
    }
}

.parrafo-principal-app{
    margin-top: 2rem !important; 
}



.banner__principal-colora {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 34vh;
    background-color: var(--primario);
    padding: 0 5rem;
}

.banner__principal-colora-img{
    background-image: url(../img/def/icoGarantia.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    width: 20%;
    height: 100%;
    margin-left: 2rem;
}


@media (max-width: 1020px) {
    .banner__principal-colora {
        display: none;
    }
}

.banner__principal-colorb {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 34vh;
    background-color: var(--backOscuro);
    padding: 0 5rem;
}

.banner__principal-colorb-texto-principal {
    margin: 1rem 0;
    color: var(--backOscuro);
    font-size: 3rem;
    font-weight: bold;
}

.banner__principal-colorb-texto {
    color: var(--backOscuro);
    font-size: 1.7rem;
    margin-bottom: 3rem;
    text-align: justify;
}


.banner__principal-colorb-texto p{
    line-height: 2rem;
}


@media (max-width: 768px) {
    .banner__principal-colorb-texto{
        font-size: 1.5rem;
        font-style: normal;
        font-weight: normal;
        text-align: center;
    }

    .banner__principal-colorb {
        align-items: center;
    }
    .banner__principal-colorb-texto-principal{
        font-size: 2.4rem;
    }
}


.btn {
    background-color: var(--primario);
    padding: 1rem;
    color: var(--blanco);
    background-color: var(--primario);
    font-weight: bold;
    text-align: center;
    transition: background-color  0.6s ease;
}

.btn:hover {
    background-image: linear-gradient(to right, var(--primario) 30%, rgb(49 49 40 / 60%));
    
}

@media (min-width: 900px) {
    .btn__margin{
        margin-right: 3rem;
    }
}

@media (max-width: 768px) {
    .btn {
        padding: 1.5rem 4rem;
    }
}