@media (min-width: 768px) {
    .formulario {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
}

@media (max-width: 768px) {
    .formulario__aside {
        margin-bottom: 2rem;
    }
}

textarea:focus,
input:focus {
    outline: 2px solid rgb(253, 145, 99);
}

.formulario__aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #332F21;
    height: 41rem;
    border-radius: 2px;
    padding: 1.3rem;
    text-align: center;
    padding-top: 2rem;
    align-items: center;
}

.i-plane {
    color: var(--primario);
    font-size: 7rem;
}

.i-aside {
    color: var(--primario);
    font-size: 3rem;
}

.formulario__aside p {
    margin: 1rem 0;
    color: var(--blanco);
}

@media (min-width: 758px) {

    .formulario__datos {
        padding: 0 2rem;
    }

}

.form_ {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.form_ input,
textarea {
    border: 1px solid var(--primario);
    padding: 10px;
    border-radius: 2px;
}

.form_ button {
    border-radius: 3px;
    border: 1px solid var(--primario);
    color: var(--primario);
    transition: background-color .5s ease;
    transition: color .5s ease;
    font-weight: bold;
    height: 5rem;
}

.form_ button:hover {
    background-color: var(--primario);
    border: 1px solid transparent;
    color: var(--blanco);
}

.form_ a {
    color: rgba(0, 0, 0, 0.603);
}

.form_ a:hover {
    color: var(--primario);
}

.one {
    grid-column: 1 / 3;
    height: 25rem;
}

.two {
    grid-column: 1 / 3;
}

@media (max-width: 768px) {
    .ex {
        grid-column: 1 / 3;
    }
}


.checkbox-form{
    margin-top: auto;
}

textarea,
input {
    resize: none;
    height: auto;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}