.banner__principal--ac {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 768px) {
  .banner__principal--ac {
    display: flex;
    flex-direction: column;
  }
}


.banner__principal-txt {
  background-color: #f07325d7;
  height: 35vh;
  padding: 1rem 4rem;
}

.banner__principal-txt p {
  color: var(--backObscuro);
}


@media (max-width: 768px) {
  .banner__principal-txt {
    height: auto;
  }
}
@media (max-width: 768px) {
  .background-container {
    max-height: 25vh;
  }
}



.bannner__principal-eg {
  z-index: -10;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 34vh;
}

.banner__titulo-eg {
  display: flex;
  align-items: center;
  background-color: var(--primario);
  color: var(--blanco);
}

.banner__titulo-eg h1 {
  margin-left: 2rem;
  font-size: 3.1rem;
  font-weight: normal;
}

.banner__img-eg {
  background-image: url(../img/FondoEG/1.webp);
  background-position: center;
  background-size: cover;
}

h1 {
  color: var(--blanco);
  padding: 2rem 5rem;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  z-index: 2;
  font-size: 2.5rem;
  background-color: #ed6f00de;
}

.background-container {
  position: relative;
  background-color: rgba(39, 39, 39, 0.925);
  display: flex;
  height: 35vh;
  justify-content: center;
  align-items: center;
  z-index: 50;
}

.background-animation {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  animation: backgroundAnimation 50s linear infinite;
}

@keyframes backgroundAnimation {
  0% {
    background-image: url("../img/FondoEG/1.webp");
    opacity: 1;
  }

  20% {
    background-image: url("../img/FondoEG/2.webp");
    opacity: 1;
  }

  40% {
    background-image: url("../img/FondoEG/3.webp");
    opacity: 1;
  }

  60% {
    background-image: url("../img/FondoEG/4.webp");
    opacity: 1;
  }

  80% {
    background-image: url("../img/FondoEG/5.webp");
    opacity: 1;
  }

  100% {
    background-image: url("../img/FondoEG/6.webp");
    opacity: 1;
  }
}

.contenido-eg {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 1rem 8rem;
  gap: 2rem 1rem;
  text-align: center;
  font-size: 2rem;
}

.contenido-eg div img{
  height: 13rem;
}

.contenido-eg p{
  margin: 0;
}


@media (max-width: 1280px) {
  .contenido-eg{
    grid-template-columns: repeat(4, 1fr);
  }
  .banner__principal-txt{
    display: flex;
    flex-direction: column;
    justify-content: center;

  }
  
}

@media (max-width: 768px) {
    .contenido-eg{
      grid-template-columns: repeat(3, 1fr);
      padding: 0;
    }
    .contenido-eg p{
      font-weight: bold;
      font-size: 1.8rem;
    }
}

@media (max-width: 786px) {
    .banner__principal-txt{
      height: 45vh;
    }
    .banner__principal-txt p:last-child{
      margin-top: 0;
    }
    .bannner__principal-eg{
      height: 45vh;
    }
    .background-animation{
      height: 45vh;
    }
}

@media (max-width: 420px) {
    .contenido-eg{
      grid-template-columns: repeat(2, 1fr);
    }
    .banner__principal-txt{
      height: auto;
    }
    .bannner__principal-eg{
      height: 25vh;
    }
    .background-animation{
      height: 25vh;
    }
}