@media (max-width: 768px) {
    .footer {
        flex-direction: column;
    }
}

.footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    color: var(--blanco);
    background-color: #232323;
    padding: 0 5rem;
}

.footer h4 {
    margin: 2rem 0;
}


.footer a {
    color: var(--blanco);
}

.footer a:hover {
    color: var(--primario)
}
.bg-footer{
    text-align: center;
    background-color: #232323;
    
}

.bg-footer p{
    font-size: 2rem;
    color: var(--blanco);
}

.bg-footer a:hover{
    color: var(--primario);
    
}

@media (min-width: 768px) {

    .footer__about {
        text-align: center;
        max-width: 35rem;
    }
}

.footer__horario {
    text-align: left;
    padding-bottom: 2rem;
}




.footer__horario p{
    margin: .9rem 0;
}


.cr {
    margin: auto 0;
}

@media (max-width: 768px) {
    .footer h4 {
        color: var(--primario);
    }

    .footer__about {
        text-align: center;
    }

    .footer__contact {
        text-align: center;
    }
}

@media (max-width: 768px) {

    .cr {
        display: none;
    }

}


.footer__contact i{
    color: var(--primario);
    padding-right: .8rem;
}

.footer__nav ul {
    padding: 0;
    
}



.footer__nav ul li{
    list-style: none;
    padding: .5rem 0;
    font-size: 1.8rem;
    text-align: center;
}

.footer__nav ul li:first-child{
    padding: 0;
}

