.footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    color: var(--blanco);
    background-color: var(--backObscuro);
    padding: 0 5rem;
}

.footer h1,
h2,
h3,
h4 {
    margin: 0 4rem;
}


.footer h4 {
    margin: 2rem 0;
}


.footer a {
    color: var(--blanco);
}

.footer a:hover {
    color: var(--primario)
}
.bg-footer{
    text-align: right;
    background-color: var(--backObscuro);
    color: white;
}

.bg-footer a{
    margin-right: 5rem;
    color: var(--blanco);
    font-size: 1.4rem;
}

.bg-footer a:hover{
    color: var(--primario);
    
}

@media (min-width: 768px) {

    .footer__about {
        text-align: center;
        max-width: 35rem;
    }
}

.footer__horario {
    text-align: center;
    padding-bottom: 2rem;
}

.footer__horario p{
    margin: .9rem 0;
}

.cr {
    margin: auto 0;
}

@media (max-width: 768px) {
    .footer h4 {
        color: var(--primario);
    }

    .footer__about {
        text-align: center;
    }

    .footer__contact {
        text-align: center;
    }
}

@media (max-width: 768px) {

    .cr {
        display: none;
    }

}