.GarantiaExtendidaMenu {
    max-width: 145rem;
    margin: 0 auto;
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}


.GarantiaExtendidaMenu h5 {
    font-size: 2rem;
    font-weight: bold;
    color: var(--primario);
}

@media (max-width: 1169px) {
    .GarantiaExtendidaMenu {
        grid-template-columns: repeat(3, 1fr);
    }
}


@media (max-width: 843px) {
    .GarantiaExtendidaMenu {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (max-width: 511px) {
    .GarantiaExtendidaMenu {
        grid-template-columns: repeat(1, 1fr);
    }
}

.GarantiaExtendidaMenu-boton {
    height: 35vh;
    background-color: var(--backOscuro);
    display: grid;
    grid-template-rows: 25% 45% 30%;
}



.GarantiaExtendidaMenu-boton h5 {
    font-size: 2.5rem;
    color: var(--primario);
    font-weight: bold;
    text-align: center;
    margin: auto 0;
}

.GarantiaExtendidaMenu-boton li {
    font-size: 1.5rem;
    color: var(--blanco);
    margin-left: 5rem;

}

.GarantiaExtendidaMenu a:hover {
    color: var(--blanco);
}


.div__btn__banner{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn__banner {
    background-image: linear-gradient(to right, var(--primario) 40%, #31312856);
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: left;
    transition: background-position .5s ease;
    padding: 1rem 0;
    font-weight: bold;
    color: var(--blanco);
    width: 50%;
    text-align: center;
    border: none;

}

.btn__banner:hover {
    background-position: right;
    color: var(--blanco);
}


