nav {
    background-color: transparent;
    height: 8rem;
    width: 100%;
    text-decoration: none;
    list-style: none;
}

.sombra {
    -webkit-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.75);
}

.enlace {
    position: absolute;
    padding: 1.5rem 3rem;
}

.logo {
    height: 4.5rem;
}


nav ul {
    margin: 0;
    float: right;
    margin-right: 2.3rem;
}

nav ul li {

    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: #56585A;;
    font-size: 1.6rem;
    padding: 7px 13px;
    border-radius: 3px;

}

li a.active,
li a:hover {
    color: var(--primario);
    transition: .5s;
}

.checkbtn {
    display: none;
    font-size: 30px;
    color: var(--primario);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;

}

#check {
    display: none;
}

@media (max-width: 952px) {
    .enlace {
        padding-left: 20px;
    }
}

@media (max-width: 974px) {
    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: var(--backClaro);
        z-index: 120;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 30px 0;
        line-height: 5rem;
        font-weight: bold;
        margin-left: -5rem;
    }

    nav ul li a{
        font-size: 2.5rem;
    }

    li a:hover{
        color: var(--primario);
    }

    #check:checked~ul {
        left: 0;
    }
}