nav {
    background-color: var(--backObscuro);
    height: 8rem;
    width: 100%;
    text-decoration: none;
    list-style: none;
}

.enlace {
    position: absolute;
    padding: 1.5rem 3rem;
}

.logo {
    height: 4.5rem;
    
}

nav ul {
    margin: 0 0;
    float: right;
    margin-right: 2.3rem;
}

nav ul li {
    
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: var(--blanco);
    font-size: 1.6rem;
    padding: 7px 13px;
    border-radius: 3px;
    
}

li a.active,
li a:hover {
    color: var(--primario);
    transition: .5s;
}

.checkbtn {
    display: none;
    font-size: 30px;
    color: var(--primario);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    
}

#check {
    display: none;
}

@media (max-width: 952px) {
    .enlace {
        padding-left: 20px;
    }

    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: var(--backObscuro);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 16px;
    }

    li a:hover,
    li a.active {
        background: none;
        color: var(--primario);
    }

    #check:checked~ul {
        left: 0;
    }
}



/* Header no responcive */

/* 

.header-fixed{
    z-index: 101;
    width: 100%;
    position: fixed;    
}

.header {
    padding: 1rem 0;
    background-color: transparent;
}

.barra {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;

}

@media (max-width: 500px) {
    .barra {
        padding: 0;
    }

    .barra nav a {
        margin: 0;
    }
}

.barra nav a {
    color: var(--blanco);
    margin: 0 1rem;
    font-size: 1.5rem;
    transition: color .4s ease;
}

.barra nav a:hover {
    color: var(--primario);
}

.logo {
    display: grid;
    justify-items: center;
}

.logo__img {
    height: 5rem;
    width: 15rem;
}


@media (max-width: 768px) {
    .logo__img {
        margin-top: .9rem;
        height: 4.6rem;
        width: 17rem;
    }

    .logo__text {
        font-size: 1.1rem;
    }
}


.logo__text{
    color: var(--blanco);
    font-size: 1rem;
}

@media (max-width: 892px) {
    .barra {
        flex-direction: column;

    }

    .navegacion {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
    }

}

*/

/* End header */