.btn__banner {
    background-image: linear-gradient(to right, var(--primario) 40%, #31312856);
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: left;
    transition: background-position .5s ease;
    padding: 1.3rem 0;
    font-weight: bold;
    color: var(--blanco);
    width: 40%;
    text-align: center;

}

.btn__banner:hover {
    background-position: right;
    color: var(--blanco);
}

@media (max-width: 983px) {
    .btn__banner {
        width: 90%;
    }
}

.div-grid-img-text {
    height: 100vh;
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 3rem;
    align-items: center;
}

@media (max-width: 768px) {

    .div-grid-img-text {
        margin-bottom: 3rem;
        height: auto;
        display: flex;
        flex-direction: column;
    }

}

.div-grid-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 3rem;

}

.div-grid-text h2 {
    margin-top: -8rem;
    font-size: 3rem;
    color: var(--primario);
    text-align: center;
}

.div-grid-text p {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 29px;
}

.div-grid-text ul li {
    color: var(--parrafo);
    font-size: 1.6rem;
    margin: 3px 5px;
    font-weight: 400;
    line-height: 29px;
}

.div-grid-text p span {
    color: var(--primario);
    font-weight: bold;
}


.div-grid-text-img {
    height: 100vh;
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
}

.div-grid-img-text {
    color: var(--parrafo);
}

.div-grid-text-img {
    color: var(--parrafo);
}


.btn__div {
    width: 45%;
    margin: 0 auto;
}


@media (max-width: 768px) {

    .div-grid-text-img {
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .div-grid-text h2 {
        margin-top: 3rem;
    }

    .btn__div {
        width: 100%;
        margin: 0 auto;
    }

    .div-grid-img-text h2 {
        font-size: 2.5rem;
    }

    .div-grid-text-img h2 {
        font-size: 2.5rem;
    }
    .div-grid-img{
        display: none;
    }
}


/* Estilos para boton de WhatsApp */

.whatsapp {
    position: fixed;
    z-index: 100;
    bottom: 0;
    right: 0;
    background-color: var(--primario);
    margin: .5rem;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
}

@media (min-width: 1000px) {
    .whatsapp {
        margin: 1rem;
    }
}

@media (max-width: 450px) {
    .whatsapp {
        height: 6rem;
        width: 6rem;
    }
}

.whatsapp a {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;

}

.whatsapp a i {
    font-size: 4.5rem;
    text-align: center;
    color: var(--blanco);
}

/* Fin de estilos WhatsApp */

/* Agregar efecto de scroll */

.reveal {
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}


/* Fin del efecto scroll */

.map {
    height: 100%;
}

.contacto {
    background-color: #f4f4f4;
    min-height: 95vh;
    padding-top: 5rem;
    padding-bottom: 7rem;
}

@media (max-width: 768px) {
    .contacto{
        height: auto;
        padding-bottom: 2rem;
    }
}

/* 
style="background-color: #f4f4f4; height: 95vh; padding-top: 10rem;"
*/