.accesos_directos{
    background-color: var(--backClaro);
    height: 2.5rem;
}

.accesos_directos ul{
    margin: 0;
    float: right;
    margin-right: 5rem;

}

.accesos_directos ul li{
    padding: 0 1rem;
    font-weight: bold;
    list-style-type: none;
    display: inline-flex;
    margin-top: 3px;
}

.accesos_directos ul li a{
    font-size: 1.5rem;
    text-align: center;
    color: rgb(86 88 90);
}

.accesos_directos ul li a:hover{
    color: var(--primario);
    transition: .7s;
}

@media (max-width: 964px) {
    .accesos_directos{
        display: none;
    }
}

.banner__c {
    z-index: -2;
    background-image: url(../img/def/coche-a.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

}

.banner__c-contenido {
    display: flex;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.692);
    height: 100vh;
    width: 100%;
}

.banner__c-texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    
}
.banner__c-texto  h2{
    margin-top: 0;
    color: var(--primario);
    font-size: 3.1rem;
}

@media (max-width: 500px) {
    .banner__c-texto{
        text-align: center;
    }
}

.banner__c-texto p{
    text-align: right;
    margin-right: 2rem;
    font-size: 2rem;
    color: var(--blanco);
    max-width: 60rem;
    margin-top: 1rem;
}


.btn__banner {
    background-image: linear-gradient(to right, var(--primario) 40%, #31312856);
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: left;
    transition: background-position .5s ease;
    padding: 1.3rem 0;
    font-weight: bold;
    color: var(--blanco);
    width: 40%;
    text-align: center;

}
.btn__banner:hover{
    background-position: right;
}

@media (max-width: 983px) {
    .btn__banner {
        width: 90%;
    }
}

.titulo__slider{
    background-color: var(--backOscuro);
    padding: 3rem 0;
    color: var(--primario);
    margin: 0;
}

/* Estilos para boton de WhatsApp */

.whatsapp {
    position: fixed;
    z-index: 100;
    bottom: 0;
    right: 0;
    background-color: var(--primario);
    margin: .5rem;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
}

@media (min-width: 1000px) {
    .whatsapp {
        margin: 1rem;
    }
}

@media (max-width: 450px) {
    .whatsapp {
        height: 6rem;
        width: 6rem;
    }
}

.whatsapp a {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;

}

.whatsapp a i {
    font-size: 4.5rem;
    text-align: center;
    color: var(--blanco);
}

/* Fin de estilos WhatsApp */

/* Agregar efecto de scroll */

.reveal {
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}


/* Fin del efecto scroll */
