#nav {
	display: block;
	position: fixed;
	width: 100%;
	height: 7rem;
	z-index: 99999;
	background-color: #EEEEEE;
	transition: all ease .5s;
	-webkit-box-shadow: 0px 13px 5px -3px rgba(0, 0, 0, 0.17);
	-moz-box-shadow: 0px 13px 5px -3px rgba(0, 0, 0, 0.17);
	box-shadow: 0px 13px 5px -3px rgba(0, 0, 0, 0.17);
}

#nav.shrink {
	height: 64px;
	transition: all ease .5s;
	background: rgb(185, 185, 185);
}

#nav.shrink #logo {
	transition: all ease .5s;
}


.menu_bar {

	display: none;
}


.logo-header {
	height: 4rem;
}


#menu {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	height: 100%;
}

header nav ul {
	list-style: none;
}

header nav ul li {
	display: block;
	float: right;
	margin-right: 4rem;
}

a {
	color: var(--secundario);
	display: block;
	text-decoration: none;
}


nav ul li a:hover {
	color: var(--primario);
}


li:hover .children {
	display: block;
}



.children {
	display: none;
	position: absolute;
	z-index: 999;
	padding: 0;
}

@media (min-width: 1058px) {
	.children {
		max-width: 20rem;
	}
}


@media (min-width: 1059px) {
	.children {
		background-color: #EEEEEE;
		-webkit-box-shadow: 0px 13px 5px -3px rgba(0, 0, 0, 0.17);
		-moz-box-shadow: 0px 13px 5px -3px rgba(0, 0, 0, 0.17);
		box-shadow: 0px 13px 5px -3px rgba(0, 0, 0, 0.17);
	}
}

.children li:first-child {
	border-top: none;
}

.children li {
	display: block;
	height: auto;
	margin-bottom: .5rem;
	width: 100%;
}

.children li a {
	text-align: center;
}

.children li a:first-child {
	margin-top: 2rem;
}

@media (min-width: 1059px) {
	.children li a:last-child {
		margin-bottom: 1rem;
	}
}

#logo {
	top: 10px;
	position: absolute;
	left: 40px;
	height: 10px;
	transition: all ease .5s;
	z-index: 10;
}

@media screen and (max-width:1058px) {

	.menu_bar {
		display: block;
		width: 100%;
		position: fixed;
		top: 0;

	}

	#logo {
		display: none;
	}

	#logoResponsive {
		padding: 1.8rem;
	}

	.bt-menu {
		display: block;
		padding: 2.2rem !important;
		color: var(--primario);
		float: right;
		font-size: 2.6rem !important;
	}

	.submenu {
		width: 100%;
	}

	.submenu ul li a {
		font-size: 2.4rem !important;
		padding-left: 1rem;
		text-align: center;
	}

	header nav {
		width: 78%;
		height: calc(100% - 7rem);
		position: fixed;
		right: 100%;
		margin: 0;
		background: #ffffff;
		background: -webkit-linear-gradient(0deg, #ffffff 0%, #ffffff 50%, rgba(255, 255, 255, 0) 100%);
		background: linear-gradient(0deg, #ffffff 0%, #ffffff 58%, rgba(255, 255, 255, 0) 100%);
	}

	header nav ul li {
		width: 100%;
		display: block;
	}


	header nav ul li a {
		text-align: center !important;
		margin: 1.2rem 0rem !important;
		display: block !important;
		font-size: 3rem !important;
	}

	header nav ul li:hover .children {
		display: none;
	}

	.children {

		position: relative;
	}

	header nav ul li .children li a {
		margin-left: 15px;
	}

	header nav ul li .caret {
		float: right;
	}
}

@media (max-width: 1288px) {
	header nav ul li {
		margin-right: 30px;
	}
}

@media (max-width: 1233px) {
	header nav ul li {
		margin-right: 20px;
	}
}

a:focus, a:hover {
    color: var(--primario);
    text-decoration: none!important;
}

ol, ul {
    margin-top: 0;
    margin-bottom: 0;
}