.img__nosotros {
    height: auto;
}


@media (max-width: 514px) {
    .img__nosotros{
        display: none;
    }
    .img__nosotrosRD{
        display: block;
    }
}

@media (min-width: 515px) {
    .img__nosotrosRD{
        display: none;
    }
}


.cont__somos {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    max-width: 120rem;
}

@media (min-width: 860px) {
    .cont__somos {
        padding: 0 2rem;
    }
}

.cont__somos p {
    font-weight: 300;
    font-size: 2rem;
    line-height: 2.2rem;
    text-align: center;
}



.cont__somos p span {
    font-size: 2.1rem;
    font-weight: bold;
    color: var(--primario);
}

h5{
    font-size: 2.2rem;
    color: var(--primario);
    font-weight: bold;    
}

.hacemos{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.que_hacemos{
    /* border-top: solid 1px var(--primario);*/
    margin-top: 3rem;
    padding: 4rem 2rem;
    background-color: #23232335;
}

.hacemos_titulo{
    text-align: center;
}

.que_hacemos{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}


@media (min-width: 1000px) {
    .que_hacemos{
        display: flex;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        max-width: 90rem;
    }
    
    .hacemosBanner{
        height: 40vh;
    }
    .hacemosBanner_dos{
        display: none;
    }
    .que_hacemos img{
        padding: 2rem;
    }

    .hacemos_contenido p{
        line-height: 3rem;
        text-align: center;
    }
    
}

@media (max-width: 999px) {
    .hacemosBanner_dos{
        height: auto;
        
    }
    .hacemosBanner{
        display: none;
    }
}


.btn__banner {
    background-image: linear-gradient(to right, var(--primario) 40%, #31312856);
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: left;
    transition: background-position .5s ease;
    padding: 1rem 0;
    font-weight: bold;
    color: var(--blanco);
    width: 50%;
    text-align: center;
    border: none;
    margin: 0 auto;
    margin-top: 2rem;

}

.btn__banner:hover {
    background-position: right;
    color: var(--blanco);
}

