.aviso-privacidad {
    padding: 0rem 8rem;
    margin-bottom: 10rem;
    text-indent: 1rem;
    text-align: justify;
    color: rgb(43, 43, 43);
    
}

.aviso-privacidad p{
    line-height: 2.8rem;
}

h1{
    color: var(--primario);
}

@media (max-width: 768px) {
    .aviso-privacidad{
        padding: 0rem .2rem;
        margin-bottom: 5rem;
        text-indent: 0;
    }
   
}