.header-pa {
    display: static;
    margin: 0;
    background-image: url(../img/def/proceso.webp);
    height: 30rem;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

@media (max-width: 400px) {
    .header-pa{
        height: 24rem;
    }
}

.bg-pa {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.583);
}

.bg-pa h2 {
    font-size: 3.5rem;
    color: var(--blanco);
}

/* Contenedor grid*/

.content-pa {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
}


.contet-pa__text {
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--blanco);
    background-color: var(--primario);
    text-align: center;
    border-radius: 5px;
    height: 9rem;
    font-size: 1.8rem;
}

.contet-pa__text-rigth {
    grid-column: 3 / 5;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--blanco);
    background-color: var(--primario);
    text-align: center;
    border-radius: 5px;
    height: 9rem;
    font-size: 1.8rem;
}

.contet-pa__num {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blanco);
    color: rgb(88, 84, 84);
    font-size: 4rem;
    border-radius: 50%;
    height: 11rem;
    width: 11rem;
    margin: -3rem;
}

.padre {
    display: flex;
    justify-content: flex-end;
    margin-right: -3rem;
    z-index: 2
}

.padre-img {
    display: flex;
    justify-content: flex-end;
}


.img-ea {
    width: 13rem;
    height: 13rem;
}

.contet-pa__num-rigth {
    float: left;
    margin-right: 0;
    grid-column: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blanco);
    color: rgb(88, 84, 84);
    font-size: 4rem;
    border-radius: 50%;
    height: 11rem;
    width: 11rem;
}

.bg-primario {
    background-color: var(--primario);
    color: var(--blanco);
    text-align: center;
    margin-bottom: 0;
}

.bg-primario p {
    margin-bottom: 0;
    font-size: 1.4rem;
}

@media (max-width: 768px) {
    .bg-primario p {
        font-size: .9rem;
    }
}

@media (max-width: 768px) {
    .contet-pa__text-rigth p {
        margin-left: 3rem;
        font-size: 1.5rem;
    }

    .contet-pa__text p {
        margin-right: 3rem;
        font-size: 1.5rem;
    }
}

@media (max-width: 400px) {
    .contet-pa__text-rigth {
        height: 10rem;
        margin: 0;
    }

    .contet-pa__text {
        height: 10rem;
    }
}


.poligono {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    height: 18rem;
}

.poligono-dos {
    clip-path: polygon(0% 0%, 85% 0%, 10% 100%, 0% 100%);
    background-color: rgba(17, 17, 17, 0.797);
    height: 18rem;
    margin-top: -18rem;
    display: flex;
    align-items: center;
}

.poligono-dos p {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: -11rem;
    margin-left: 1rem;
    color: var(--primario);

}

@media (min-width: 1600px) {
    .poligono-dos {
        clip-path: polygon(0% 0%, 60% 0%, 15% 100%, 0% 100%);
    }

    .poligono-dos p {
        font-size: 2.5rem;
        margin-left: 2rem;
    }
}

.poligono-reves {
    height: 18rem;
    display: flex;
    align-items: center;

}

.poligono-dos-reves {
    clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 85% 100%);
    background-color: #ed6f007d;
    height: 18rem;
    margin-top: -18rem;
    display: flex;
    justify-content: end;
    align-items: center;
}

.img-averiauno {
    background-image: url(../img/procesoaverias/averias-coche.webp);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-averiados {
    background-image: url(../img/procesoaverias/Llamada.webp);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-averiatres {
    background-image: url(../img/procesoaverias/reviciondeauto.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}


.img-averiacuatro {
    background-image: url(../img/procesoaverias/tallermecanico.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-averiavideo{
    position: absolute;
    right: 0;
    height: 18rem;
    z-index: -1;
}

.poligono-dos-reves p{
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: -11rem;
    margin-right: 1rem;
    color: var(--blanco);
    text-align: right;
}

@media (min-width: 860px) {
    .poligono{
        height: 56rem;
    }
    .poligono-dos{
        height: 56rem;
        margin-top: -56rem;
    }
    .poligono-reves{
        height: 56rem;
    }
    .poligono-dos-reves{
        height: 56rem;
        margin-top: -56rem;
    }
    .poligono-dos-reves p{
        font-size: 2.7rem;
    }
    .img-averiavideo{
        height: 56rem;
    }
}

.reveal{
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }
