.header-pa{
    display: static;
    margin: 0;
    background-image: url(../img/def/proceso.jpg);
    color: white;
    height: 30rem;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.bg-pa{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.384);
}
/* 

.contenido-pa{
    display: flex;
    align-items: center;
}

.contenido-pa__texto{
    font-size: 2.3rem;
    background-color: var(--primario);
    border-radius: 5px;
    padding: 2.3rem 7rem;
    color: rgb(51, 51, 51);
}

.contenido-pa__numero{
    font-size: 4rem;
    border-radius: 50%;
    background-color: var(--blanco);
    padding: 3.5rem;
    margin-left: -3rem;
    color: rgb(88, 84, 84);
}

.contenido-pa__img{
    height: 11rem;
    margin-left: 15rem;
}

.pa__img-right{
    margin-right: 25rem;
}


.contenido-pa__numero-rigth{
    font-size: 4rem;
    border-radius: 50%;
    background-color: var(--blanco);
    padding: 3.5rem;
    margin-right: -3rem;
    color: rgb(88, 84, 84);
}

.contenido-pa__texto-right{ 
    font-size: 2.3rem;
    background-color: var(--primario);
    border-radius: 5px;
    padding: 2.3rem 7rem;
    color: rgb(51, 51, 51);
    z-index: -2;
}

 */

 /* Contenedor grid*/

.content-pa{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
}


.contet-pa__text{
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--blanco);
    background-color: var(--primario);
    text-align: center;
    border-radius: 5px;
    height: 9rem;
    font-size: 1.8rem;
}

.contet-pa__text-rigth{
    grid-column: 3 / 5;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--blanco);
    background-color: var(--primario);
    text-align: center;
    border-radius: 5px;
    height: 9rem;
    font-size: 1.8rem;
}

.contet-pa__num{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blanco);
    color: rgb(88, 84, 84);
    font-size: 4rem;
    border-radius: 50%;
    height: 11rem;
    width: 11rem;
    margin: -3rem;
}

.padre{
    display: flex;
    justify-content: flex-end;
    margin-right: -3rem;
    z-index: 2
}

.padre-img{
    display: flex;
    justify-content: flex-end;
}

.contet-pa__num-rigth{
    float: left;
    margin-right: 0;
    grid-column: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blanco);
    color: rgb(88, 84, 84);
    font-size: 4rem;
    border-radius: 50%;
    height: 11rem;
    width: 11rem;
}

