.productos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.producto-item2 p{
    text-align: center;
}
.producto-item1 p{
    text-align: center;
}


.producto-item2{
    margin: 0;
    background-image: url(../img/def/FondoAG.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: var(--blanco);
    padding: 1rem;
    height: 45rem;
}


