.productos {
    display: grid;
    grid-template-columns: 30% 70%;
}

.nombre__producto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    background-color: var(--backOscuro);
    height: 100vh;
}

.nombre__producto a:first-child{
    margin-top: 7rem;
}

.nombre__producto a{
    color: var(--secundario);
    font-size: 2.8rem;
    font-weight: bold;
}

.nombre__producto a:hover{
    color: var(--primario);
}

.active{
    color:var(--primario)!important;
}