.empleados__sc{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem 0;
    justify-items: center;
    align-items: center;
}

@media (max-width: 1050px) {
    .empleados__sc{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 900px) {
    .empleados__sc{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 450px) {
    .empleados__sc{
        grid-template-columns: repeat(1, 1fr);
    }
}

.tarjeta__empleado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 40rem;
    max-width: 30rem;
    border-bottom: solid 2px var(--primario);
}

.img__impleado{
    background-image: url(../img/Empleados/Emp1.webp);
    height: 31rem;
    width: 30rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.info_empldeado{
    text-align: center;
    line-height: 1.4rem;
    color: var(--secundario);
}

.info_empldeado h3{
    margin-top: .6rem;
    margin-bottom: 0px;
    font-size: 2rem;
}

.info_empldeado p{
    margin: .7rem 0;
    padding: 0 1rem;
}

.puesto__empleado{
    margin-top: 0!important;
}


.info_empldeado span{
    font-size: 1.2rem;
}

.info_empldeado i{
    color: var(--primario);
}