.img__somos_dos {
    height: 52vh;
    background: linear-gradient(to bottom, transparent, var(--backObscuro)),
        url("../img/def/equipo.jpg") top no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 4rem;
}

.somos_h1 {
    text-transform: uppercase;
    font-size: 2.9rem;
    color: var(--backObscuro);
    background-color: var(--blanco);
    padding: 2rem;
    margin-bottom: -3.5rem;
}

.cont__somos {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
    max-width: 120rem;
}


@media (min-width: 860px) {
    .cont__somos {
        padding: 0 2rem;
    }


}

.cont__somos p {
    font-weight: 300;
    font-size: 2rem;
    line-height: 3.4rem;
    text-align: center;
}



.cont__somos p span {
    font-size: 2.1rem;
    font-weight: bold;
    color: var(--primario);
}

@media (max-width: 960px) {
    .img__somos_dos{
        height: 35vh;
        background-position: center center;
        background-size: cover;
    }
}


@media (max-width: 450px) {
    .cont__somos p{
        margin-top: 14rem;
    }
    .cont__somos p span{
        font-size: 1.9rem;
    }

}

@media (max-width: 375px) {
    .somos_h1{
        font-size: 2.3rem;
    }
    .cont__somos p{
        margin-top: 18rem;
    }
}

.somos_clientes {
    margin: 0 5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
}

@media (max-width: 780px) {
    .somos_clientes {
        margin: 14rem 2rem;
        display: flex;
        flex-direction: column;
    }
}

.somos_clientes-socios h4 {
    text-align: center;
    color: var(--backObscuro);
}

.somos_clientes-benef h4 {
    text-align: center;
    color: var(--backObscuro);
}


.somos_clientes-socios p {
    text-align: justify;
    color: var(--backObscuro);
}

.somos_clientes-benef p {
    text-align: justify;
    color: var(--backObscuro);
}

/* Agregar efecto de scroll */

.reveal {
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}