.modal {
    display: none;
    position: fixed;
    z-index: 101;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    position: relative;
    margin: 12% auto;
    padding: 0;
    width: 80%;
    max-width: 750px;
}

.close {
    position: absolute;
    right: 1.5rem;
    font-size: 28px;
    color: #fff;
    cursor: pointer;
}
